<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Photo</title>
  </head>
  <body>
    <h2><%= @photo.title %></h2>
    <img src="<%= @photo.url %>" alt="adorable puppy"><br>
    <h3>Average rating: <%= @photo.avg_rating %></h3><br>
    <ul>

    <% @photo.ratings.each do |rating| %>
    <li><%= rating.user.name %> rated this photo <%= rating.score %> / 10</li>
    <% end %>
  </ul>


  </body>
</html>
